@charset "utf-8";

$clr-yellow-light: #f6f7bd;
$clr-yellow: #f2ec91;
$clr-green: #027353;
$clr-red: #d93d04;
$clr-brown: #482006;
$clr-code-bg: #fdf6e3;

// bulma variables
$body-background-color: $clr-yellow-light;
$pre-background: $clr-yellow;
$text: $clr-brown;
$navbar-background-color: $clr-yellow-light;
$link: $clr-red;

@import "~bulma/bulma.sass";

h1 {
  @extend .is-size-1;
}

h2 {
  @extend .is-size-3;
}

h3 {
  @extend .is-size-4;
}

h4 {
  @extend .is-size-5;
}

.content {
  position: relative;
  // border: 4px solid $clr-red;
  // background: $clr-yellow;
  margin: 0 10px;
  z-index: 1;
  /*padding-top: 20px;*/
}

.content h2,
.content h3,
.content h4 {
  clear: both;
  margin: 1em 0;
}

h1.title {
  font-size: 8rem !important;
  text-align: center;
  color: $clr-green;
}

.content h2 {
  // margin: 10px -10px;
  background: $clr-green;
  color: $clr-yellow;
  padding: 3px 10px;
}
.content h3 {
  // margin: 10px;
  border-bottom: 3px solid $clr-green;
}
.content h4 {
  padding-left: 5px;
  border-left: 9px solid $clr-green;
}

.previews {
    li {
        float: left;
        margin: 1rem;
        border-bottom: 3px solid $clr-green;

        a {
            display: block;
            padding: 0 1rem;
            background: $clr-yellow;
            color: $text;
            @extend .is-size-2;

            &:hover {
                background: $clr-green;
                color: $clr-yellow-light;

            }
        }
    }
}

.navbar .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 3rem;
  .brand-note {
    background: $clr-green;
    background: $clr-brown;
    color: $clr-yellow-light;
    padding: 0 0.2em;
    border: 2px solid $clr-brown;
    // text-transform: uppercase;
  }
  .brand-lla {
    padding: 0 0.2em;
    border: 2px dotted $clr-brown;
    border-left: none;
  }
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

.gatsby-highlight pre[class*="language-"] {
  // background-color: transparent;
  border: 1px solid $clr-green;
}

.token.tag,
.token.content,
.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.TOC {
  position: fixed;
  top: 1rem;
  right: 0;
  font-size: .7rem;
  z-index: 99;
  background: $clr-yellow-light;
  border: 1px solid $clr-brown;
  border-right: none;
  max-width: 10rem;

  span {
    cursor: pointer;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  .depth-1 {
    color: $clr-brown;
    padding: .1rem;
    clear: both;
  }

  .depth-2 {
    color: $clr-brown;
    padding-left: .2rem;
    clear: both;
  }

  .depth-3 {
    color: $clr-green;
    padding-left: .5rem;
    float: left;
  }
}